 *{
     padding: 0;
     margin: 0;
     box-sizing: border-box;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    background-color: #eef4f6;
    
    width: 100%;
    font-family: 'Oswald', sans-serif;
    display: grid;
    grid-template-columns: repeat(20, 5vw);
    grid-template-rows: 20vh auto auto auto;
}

.Background {
    grid-column: 1 / span 20;
    grid-row: 2 / span 3;
}

.Background > img {
    width: 100%;
    height: auto;
}

header 
{   
    padding: 5px 0px 0px 5px;
    grid-column: 1 / span 20;
    grid-row: 1 / span 1;
    
    display: flex;
    flex-wrap: nowrap;
    
    background-color: #eef4f6; 
    margin-right: 10px;
}

header > img
{
    max-height: 100%;
    min-height: 50%;
}

nav
{
    grid-column: 1 / span 20;
    grid-row: 2 / span 1;
    
    border-top: 5px solid #134467; 
    display: flex;
    justify-content: center;
}

.Botao-Menu
{
    margin: 5px 2px;
    padding: 8px 25px;
    font-size: 18px;
    text-align: center;
    color: #134467;
    background-color: #5b96bf; 
    border: #134467;
    border-radius: 5px;
    
    box-shadow: 0px 2px;
}

.Botao-Menu:hover
{
    background-color: #134467;
    color: white; 
    
    position: relative;
    top: 2px;
    box-shadow: 0 0 0 0;
}

.Corpo
{
    grid-column: 2 / span 7;
    grid-row: 3 / span 1;
    
    min-height: 100vh;
    padding-bottom: 50px;
}

footer
{
    background-color: #333333;
    grid-column: 1 / span 20;
    grid-row: 4 / span 1;
    
    padding: 5px 30px 5px 30px;
    text-align: left;
}

.Forms
{
    padding: 12px 20px;
    margin: 5px 5px 5px 10px;
}

input[type=date], select 
{
    display: flex;
    padding: 12px 20px;
    margin: 5px 5px 5px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width: 290px;
}

input[type=text], select 
{
    width: 290px;
    padding: 12px 20px;
    margin: 5px 5px 5px 20px;
    display: flex;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=password], select 
{
    width: 290px;
    padding: 12px 20px;
    margin: 5px 5px 5px 20px;
    display: flex;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=email], select 
{
    width: 290px;
    padding: 12px 20px;
    margin: 5px 5px 5px 20px;
    display: flex;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 20%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 5px 5px 5px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover 
{
    background-color: #45a049;
}
.Generos {
    list-style: none;
    margin: 0;
    padding: 14px 0px;
  }
  
.Generos:after {
    content: "";
    clear: both;
}
  
.Genero {
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    float: left;
    height: 45px;
    position: relative;
    width: 90px;
}
  
.Genero + .Genero {
    margin-left: 10px;
}
.Genero label {
    background: #fff no-repeat center center;
    bottom: 1px;
    cursor: pointer;
    display: block;
    font-size: 0;
    left: 1px;
    position: absolute;
    right: 1px;
    text-indent: 100%;
    top: 1px;
    white-space: nowrap;
  }
  
.Homem label {
    background-image: url("../Imagens/Homem.png");
}
  
.Mulher label {
    background-image: url("../Imagens/Mulher.png");
}
  
.Outro label {
    background-image: url("../Imagens/Outro.png");
}
.Generos input:checked + label {
    outline: 4px solid #5b96bf;
    -moz-outline-radius: 4px;
}

.Paciente{}
.Medico{}
.Atendente{}
.VisualizarConsulta{}
.AgendarConsultaPaciente{}
.CadastrarPaciente{}
.CadastrarMedico{}
.AgendarConsulta{}
.Consultas{}
.Agendamentos{}
