 *{
     padding: 0;
     margin: 0;
     box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    background-image: url("../Imagens/Medica.png");
    background-repeat: no-repeat;
    height: 900px;
    
    display: grid;
    grid-template-columns: repeat(20, 5vw);
    grid-template-rows: 20vh auto auto auto;
}


header 
{   
    padding: 5px;
    grid-column: 1 / span 20;
    grid-row: 1 / span 1;
    
    display: flex;
    flex-wrap: nowrap;
    
    background-color: #eef4f6; 
    margin-right: 10px;
}

header > img
{
    max-height: 100%;
    min-height: 50%;
}

nav
{
    grid-column: 1 / span 20;
    grid-row: 2 / span 1;
    
    border-top: 5px solid #134467; 
    display: flex;
    justify-content: center;
}

.Botao-Menu
{
    margin: 5px 2px;
    padding: 8px 25px;
    font-size: 18px;
    text-align: center;
    color: #134467;
    background-color: #5b96bf; 
    border: #134467;
    border-radius: 5px;
    
    box-shadow: 0px 2px;
}

.Botao-Menu:hover
{
    background-color: #134467;
    color: white; 
    
    position: relative;
    top: 2px;
    box-shadow: 0 0 0 0;
}

.Corpo
{
    grid-column: 2 / span 9;
    grid-row: 3 / span 1;
}

footer
{
    grid-column: 1 / span 20;
    grid-row: 4 / span 1;
    text-align: center;
}

.Forms
{
    padding: 12px 20px;
    margin: 5px 5px 5px 10px;
}

input[type=date], select 
{
    display: flex;
    padding: 12px 20px;
    margin: 5px 5px 5px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=text], select 
{
    padding: 12px 20px;
    margin: 5px 5px 5px 20px;
    display: flex;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 20%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 5px 5px 5px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover 
{
    background-color: #45a049;
}

.Paciente{}
.Medico{}
.Atendente{}
.VisualizarConsulta{}
.AgendarConsultaPaciente{}
.CadastrarPaciente{}
.CadastrarMedico{}
.AgendarConsulta{}
.Consultas{}
.Agendamentos{}
