*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



:root {

  /* COLORS */
  --shadow: hsla(0, 0%, 0%, 0.25);
  /*--primary: hsl(46, 100%, 43%);


  
  --primary: hsl(208, 100%, 46%);

  --success: hsl(100, 100%, 75%);
  --failure: rgb(255, 134, 134);

  --color-1: hsl(0, 0%, 10%);
  --color-2: hsl(0, 0%, 30%);
  --color-3: hsl(0, 0%, 80%);
  --color-4: hsl(0, 0%, 97%);
  --color-5: hsl(0, 0%, 100%);

  /* TYPOGRAFY */
  --primary-font: 'Fira Sans', sans-serif;

  --medium-weight: 400;
  --thick-weight: 700;

  --large-size: 2.25em;
  --medium-size: 1.75em;
  --small-size: 16px;
  --smaller-size: 0.7em;
}


body {
  display: grid;

  font-family: var(--primary-font);
  font-weight: var(--medium-weight);
  font-size: var(--small-size);

  color: var(--color-2);
  background-color: var(--color-4);
}

h1 {
  font-size: var(--large-size);
}

h2 {
  font-size: var(--medium-size);
}


@media only screen {
  html {
    height: 100%;
  }
  /* Desktop */
  body {
    height: 100%;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    grid-template-areas: 
      'main-header'
      'main-body'
      'main-footer';
  }
}

.main-body {
  grid-area: main-body;

  margin: 5% 10%;
}


/*---------HEADER---------*/

.main-header {
  grid-area: main-header;

  background-color: var(--color-5);
  
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-areas: 
    'top-bar'
    'nav-bar';
  
  box-shadow: 0 0.1em 1em var(--shadow);
}

  .main-header__top-bar {
    grid-area: top-bar;
    
    padding: 15px 40px;
    
    background-color: var(--card-bg-color);
    
    border-bottom: 1px solid var(--color-3);
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    'logo user'
  }

    .main-header__logo {
      grid-area: logo;

      font-size: var(--large-size);
      color: var(--primary);

      display: flex;
      align-items: center;
      justify-content: flex-start;
    }

    .main-header__user {
      grid-area: user;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      border: none;
      font-size: large;
    }

      .main-header__username {
        padding: 0 0.5em;
        border-right: 1px solid var(--color-3);
      }

      .main-header__logout-btn {
        padding: 0 0.5em;
        text-decoration: none;
        color: var(--text-color);
      }

      .main-header__logout-btn:hover {
        color: var(--primary);
      }


/*---HEADER NAV BAR---*/

  .main-header__nav-bar {
    grid-area: nav-bar;

    padding: 0em 2em;

    display: flex;
    justify-content: center;
    align-items: center;
  }

    .main-header__nav-btn {
      /* Font */
      color: var(--text-color);
      font-weight: bold;
      font-size: large;
      letter-spacing: 0.08em;
      text-decoration: none;
      

      /* Styling */
      outline:0;

      /* Layout */
      display: flex;
      justify-content: center;
      align-items: center;
      
      padding: 0 2em;

      height: 100%;
    }

      .main-header__nav-btn:hover, 
      .main-header__nav-btn--currentPage {
        color: var(--primary);
      }
      

    .main-header__nav-icon {
      height: 1.5em;
      width: auto;
      margin: 0 1em 0 0;
    }

      .main-header__nav-icon path {
        fill: var(--color-2) !important;
      }

      .main-header__nav-btn:hover > .main-header__nav-icon path, 
      .main-header__nav-icon--currentPage path {
        fill: var(--primary) !important;
      }

/*--------END OF HEADER--------*/


/* Footer */

.main-footer {
  grid-area: main-footer;
  background-color: var(--color-5);
  padding: 1em;
  box-shadow: 0 -0.1em 1em var(--shadow);
}


.card {
  background-color: var(--color-5);
  box-shadow: 0 2px 4px var(--shadow);
  margin: 20px 0;
  padding: 25px 30px;
}

svg path {
  fill: var(--color-2) !important;
}

.table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  text-align: center;
}

  .table th, .table td {
    padding: 1em;
    border-bottom: 1px solid var(--color-3);
    border-top: 1px solid var(--color-3);
    border-left: 0;
    border-right: 0;
  }

  .table tr:nth-child(1n+2):hover {
    background-color: var(--primary);
    color: var(--color-5);
  }

.ui-datepicker {
  text-align: center;
  
}

.ui-datepicker a {
  text-decoration: none;
}

.ui-datepicker table {
  width: 300px;
}


.ui-datepicker-header {
  font-weight: var(--thick-weight);
}

.ui-datepicker-title {
  text-align: center;
  background-color: var(--primary);
  color: var(--color-5);
  padding: 10px;
}

.ui-datepicker-prev, .ui-datepicker-next {
  padding: 10px 10px;
  color: var(--color-5);
  cursor: pointer;
}

.ui-datepicker-prev {
  float: left;
}

.ui-datepicker-next {
  float: right;
}


.ui-datepicker td span, .ui-datepicker td a {
  display: inline-block;
  font-weight: bold;
  text-align: center;
  width: 30px;
  height: 30px;
  line-height: 30px;
  color: var(--color-2);

}

.ui-datepicker-calendar .ui-state-hover, .ui-datepicker-calendar .ui-state-active {
  background: var(--primary);
  color: var(--color-5);
}


