/* HOME */
.home-body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    'seu-perfil prox-consulta';
  
  grid-column-gap: 32px;
}

.seu-perfil-widget {
  grid-area: seu-perfil;
}

.prox-consulta-widget {
  grid-area: prox-consulta;
} 


/* CONSULTA E HISTORICO */
.consultas-widget {
  grid-area:consultas;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    'header filter-toggle'
    'filter filter'
    'body body';
}

  .consultas-widget__header {
    grid-area: header;
  }

  .consultas-widget__filter-toggle {
    grid-area: filter-toggle;
    text-align: right;
  }

  .consultas-widget__filter-icon {
    font-size: var(--large-size);
    height: 1em;
    width: auto;
  }

    .consultas-widget__filter-icon:hover {
      cursor: pointer;
    }

    .consultas-widget__filter-icon:hover path, 
    .consultas-widget__filter-icon--active path {
      fill: var(--primary) !important;
    }

  .consultas-widget__filter-box {
    grid-area: filter;
    display: none;
  }

  .consultas-widget__filter-form {
    display: flex;
    font-weight: var(--thick-weight);
  }

  .consultas-widget__filter-form > label {
    margin: 0 2em;
  }

  .consultas-widget__body {
    grid-area: body;
  }


.consultas-widget__list-row {
  cursor: pointer;
  transition: 0.2s;

  grid-template-areas: 
    ". . . ."
    "panel panel panel panel";
}

  .consultas-widget__list-row, .consultas-widget__list-header {
    width: 100%;
    
    border: none;
    outline: none;
    
    display: grid;
    grid-template-columns: 0.8fr 0.7fr 1fr 1fr;
    
    text-align: center;
    padding: 1em;
    border-bottom: 1px solid var(--neutral-lgray);
    
    order: 1;
  }

  .consultas-widget__list-header {
    font-weight: var(--thick-weight);
    border-top: 1px solid var(--neutral-lgray);
  }


  .consultas-widget__list-row--active, .consultas-widget__list-row:hover {
    background-color: var(--primary); 
    color: var(--neutral-white);
  }

  .consultas-widget__list-row--active {
    border-bottom: 0px;
    box-shadow: 0 2px 4px var(--neutral-lgray);
    position:relative;
    width: 110%;
    margin: 0 -5%;
  }

  
  .consultas-widget__accordion-panel {
    grid-area: panel;
    max-height: 0;
    overflow: hidden;
    transition: 0.2s, max-height 0.2s ease-out;
    
  }

    .consultas-widget__accordion-content {
      border-top: 1px solid var(--neutral-white);

      margin-top: 1em;
      padding: 1.2em 0 0.8em 0;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: 
        "rcts obs"
    }

      .consultas-widget__receita {
        grid-area: rcts;
      }

      .consultas-widget__observacoes {
        grid-area: obs;
      }



/* PERFIL */
.perfil-body {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-areas:
    'phea edit'
    'pinf pinf'
}

.perfil-header {
  grid-area: phea;
  display: flex;
  justify-content: flex-start;
}

.perfil-edit {
  grid-area: edit;

  display: flex;
  justify-content: flex-end;
  align-content: center;
}

.perfil-edit > img {
  height: 1em;
  width: auto;
}

.perfil-edit > .svg:hover {
  cursor: pointer;
}

.perfil-edit > svg:hover path {
  fill: var(--accent-color) !important;
}

.perfil-info {
  grid-area: pinf;
  display: flex;
  flex-wrap: wrap;
}

.perfil-column-left {
  flex: 50%;
  padding: 0 1em 0 0;
}


.perfil-column-right {
  flex: 50%;
  padding: 0 0 0 1em;
}

.perfil-widget {
  vertical-align: middle;
  padding: 1em 0em 0em 0em;;
}


/* Marcar Consulta */

.ui-datepicker {
  width: 200px;
  height: auto;
  padding: 30px;
  box-shadow: 0 2px 4px var(--shadow-color);
  background: var(--accent-color);
  color: var(--text-color-2);
  text-align: center;
}

.ui-datepicker a {
  text-decoration: none;
  color: var(--text-color-2);
  font-weight: bold;
}

.ui-datepicker td {
  padding: 0;
}

.ui-datepicker td span, .ui-datepicker td a {
  display: inline-block;
  font-weight: bold;
  text-align: center;
  width: 30px;
  height: 30px;
  line-height: 30px;
  color: #666666;
  text-shadow: 1px 1px 0px #fff;
  filter: dropshadow(color=#fff, offx=1, offy=1);
}
.ui-datepicker-calendar .ui-state-default {
  background: #ededed;
  background: -moz-linear-gradient(top,  #ededed 0%, #dedede 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ededed), color-stop(100%,#dedede));
  background: -webkit-linear-gradient(top,  #ededed 0%,#dedede 100%);
  background: -o-linear-gradient(top,  #ededed 0%,#dedede 100%);
  background: -ms-linear-gradient(top,  #ededed 0%,#dedede 100%);
  background: linear-gradient(top,  #ededed 0%,#dedede 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#dedede',GradientType=0 );
  -webkit-box-shadow: inset 1px 1px 0px 0px rgba(250, 250, 250, .5);
  -moz-box-shadow: inset 1px 1px 0px 0px rgba(250, 250, 250, .5);
  box-shadow: inset 1px 1px 0px 0px rgba(250, 250, 250, .5);
}
.ui-datepicker-unselectable .ui-state-default {
  background: #f4f4f4;
  color: #b4b3b3;
}

.ui-datepicker-calendar .ui-state-hover {
  background: #f7f7f7;
}

ui-datepicker-calendar .ui-state-active {
  background: #6eafbf;
  -webkit-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, .1);
  -moz-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, .1);
  box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, .1);
  color: #e0e0e0;
  text-shadow: 0px 1px 0px #4d7a85;
  filter: dropshadow(color=#4d7a85, offx=0, offy=1);
  border: 1px solid #55838f;
  position: relative;
  margin: -1px;
}